// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $white;
  font-size: 20px
}

body{
  @include mono;
  color: $text_color;
  font-size: 1rem;
  line-height: 1.5;
}

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  max-width: 728px;
  padding: 0 24px;
  margin: 0 auto;
  zoom: 1;
}

h1 { color: $heading-color-h1; font-size: 2rem; }
h2 { color: $heading-color-h2; font-size: 1.5rem; }
h3 { color: $heading-color-h3; font-size: 1.15rem; }
h4 { color: $heading-color-h4; font-size: 1.15rem; }
h5 { color: $heading-color-h5; font-size: 1rem; }
h6 { color: $heading-color-h6; font-size: 0.9rem; }

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

::-moz-selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
::selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
