// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #23242b;
$black:             #333;

// Styles
$text_color:        $black;
$heading-color-h1: #6f469e;   // deep navy
$heading-color-h2: #4a469e;
$heading-color-h3: #0f3460;
$heading-color-h4: #533483;
$heading-color-h5: #6b4c9a;
$heading-color-h6: #888;

// Font stack
// OLD:
//$body-font: Helvetica, arial, ... sans-serif !default;
// NEW:
$body-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// The base body size
$body-font-size: 12px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
