// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #23242b;
$black:             #333;

// Styles
$text_color:        #fff;
$heading-color-h1: #fcba03;   // deep navy
$heading-color-h2: #20fc03;
$heading-color-h3: #03e7fc;
$heading-color-h4: #6f03fc;
$heading-color-h5: #ffffff;
$heading-color-h6: #888;

// Font stack
// OLD:
//$body-font: Helvetica, arial, ... sans-serif !default;
// NEW:
$body-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// The base body size
$body-font-size: 12px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
